
<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>
<!--  <servlet>
    <servlet-name>Servl</servlet-name>
    <servlet-class>delivery.controller.Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Servl</servlet-name>
    <url-pattern>/delivery/*</url-pattern>
  </servlet-mapping>-->

<!--  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>-->
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/view/error.jsp</location>
  </error-page>

</web-app>